<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="/" class="navbar-brand">
        GuiaPress
    </a>
    <ul class="navbar-nav mr-auto">

        <% categories.forEach(category => { %>
            <li class="nav-item">
                <a class="nav-link" href="/category/<%= category.slug %>"><%= category.title %></a>
            </li>
        <% }) %>

    </ul>

    <% if(req.session.user){ %>
        <ul class="navbar-nav ml-auto">
            <a href="/logout" class="nav-link"><button class="btn btn-danger">Logout</button></a>
        </ul>
    <% }else{ %>
        <ul class="navbar-nav ml-auto">
            <a href="/Login" class="nav-link"><button class="btn btn-success">Login</button></a>
        </ul>
    <% } %>
  </nav>